body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    min-width: 400px;
}

input {
    /* width = 100% includes the complete width of the container and padding is added on top of that */
    width: 100%; 

    /* to ensure that the padding is included in the 'width' */
    box-sizing: border-box; 
    
    padding: 10px;
    border: 2px solid #5b5679;
}

button {
    background-color: #5b5679;
    margin-top: 4px;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5b5679;
    border-radius: 5px;
    font-weight: bold;
}

#delete-btn {
    color: #5b5679;
    background-color: white;
}

#ul-el {
    text-align: left;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 25px;
}

li {
    margin-top: 5px;
}

/* Anchor tag living inside list items */
li a {
    color: #5b5679;
}
